.register-cp {
  margin-bottom: 20px;
  border: 1px solid black;
  padding: 10px;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
}

input[type="text"],
select {
  width: 90%;
  padding: 5px;
}

.checkbox-group {
  display: flex;
  flex-direction: row;
}

.checkbox-group label {
  margin-right: 10px;
}

.radio-group {
  display: flex;
  flex-direction: row;
}

.radio-group label {
  display: inline-block;
  margin-right: 10px;
}

.buttonSubmit {
  padding: 10px 20px;
  background-color: blue;
  color: white; /* テキスト色を白に設定 */
  border: none;
  cursor: pointer;
}

.buttonCancel {
  padding: 10px 20px;
  background-color: #f0f0f0;
  border: none;
  cursor: pointer;
}
